.container {
    background-image: url(../img/bgi.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Verdana", sans-serif;
    height: 100vh;
    position: relative;
    padding-bottom: 65px;
}

header {
    background-color: rgba(0,0,0,0.5);
}

header::after {
    content: '';
    display: block;
    clear: both;
}

.title {
    float: left;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin: 20px 0 20px 81px;

}

.title:hover {
    color: #3cb878;
}

.right-menu {
    font-size: 14px;
    float: right;
    margin: 25px 75px 20px 0;
    color: #ffffff;
    border-left: 1px solid #312f2f;
    padding-left: 25px;
}

.green-text {
    color: #3cb878;
}

.green-text:hover {
    text-decoration: underline;
}

.sprites-header {
    float: right;
    height: 20px;
    width: 20px;
    background-image: url("../img/spritesheet.png");
    margin-right: 25px;
    margin-top: 20px;
    display: inline-block;
}


.journey {
    background-position: -194px -5px;
}

.journey:hover {
    background-position: -224px -5px;
}

.forum {
    background-position: -83px -5px;
    width: 28px;
}

.forum:hover {
    background-position: -121px -5px;
}

.calendar {
    background-position: -5px -5px;
}

.calendar:hover {
    background-position: -34px -5px;
}


.wrapper {
    width: 444px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    }

.inner {
    width: 322px;
    margin: 0 auto;
}

.content::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 31px;
    margin-left: -139px;
    background-color: #3cb878;
}

.content-text {
    float: left;
    font-size: 20px;
    margin-top: 29px;
}

.content-link {
    float: right;
    margin-top: 33px;
}

article::after {
    content: '';
    display: block;
    clear: both;
}

.button-left,
.button-right {
    border-radius: 2px;
    margin-top: 15px;
    width: 157px;
    height: 46px;
    }

.button-left {
    background-color: #305db8;
    float: left;
    }

.button-left:hover {
    background-color: #264b96;
}

.button-right {
    background-color: #df4a32;
    float: right;
}

.button-right:hover {
    background-color: #c3412c;
}


.button-link {
    border-left: 1px solid grey;
    color: #fff;
    float: left;
    font-size: 16px;
}

.sprites-button {
    background-image: url("../img/spritesheet.png");
    display: inline-block;
    float: left;
}

.facebook {
    width: 10px;
    height: 20px;
    background-position: -63px -5px;
    margin: 13px 17px 13px 20px;
}

.google {
    width: 25px;
    height: 16px;
    background-position: -159px -5px;
    margin: 15px 9px 15px 13px;
}

.link-left,
.link-right {
    margin-top: 8px;
}

.link-left {
    padding: 7px 0 8px 18px;
}

.link-right {
    padding: 7px 0 5px 24px;
}


form {
    margin-top: 33px;
    border-top: 1px solid #eaeaea;
    font-size: 14px;

}

.text-decoration {
    font-size: 14px;
    position: absolute;
    margin: -8px 135px;
    padding: 0 18px;
    background-color: #fff;
}

.form-text,
.form-mail,
.form-pass,
.form-submit {
    width: 100%;
    padding: 18px 0 18px 19px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    margin-top: 9px;
    font-size: 14px;
    font-family: "Verdana",sans-serif;
    box-sizing: border-box;
}


.form-text {
    margin-top: 18px;
}

#checkbox {
    margin: 22px 0 28px 0;
    vertical-align: bottom;
}

.checkbox-text {
    margin-left: 10px;
    margin-bottom: 28px;
    display: inline-block;
}

.form-submit {
    margin-bottom: 32px;
    font-size: 16px;
    background-color: #3cb878;
    color: #ffffff;
    cursor: pointer;
    margin-top: 0;
}

.form-submit:hover {
    background-color: #329a65;
}

.form-text::placeholder,
.form-mail::placeholder,
.form-pass::placeholder {
    color: rgba(190, 190, 190, 255);
    font-size: 14px;
}

.form-text:focus,
.form-mail:focus,
.form-pass:focus {
      box-shadow: 0 3px 9px rgba(0,0,0,0.25);
    outline: none;
}

