* {
    margin: 0;
    padding: 0;
}

a {
    color: #333333;
}

.conteiner {
    width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
}

.navbar-logo {
    color: #333333;
    font-size: 80px;
    margin-bottom: 45px;
}

.blue-item {
    color: #4bcaff;
}

.navbar-top {
    background-color: #35444f;
    text-align: center;
    padding: 20px 0;
}

.navbar-menu {
    display: inline-block;
}

.navbar-menu-link {
    color: #ffffff;
    padding: 18px 40px;
}

.margin-right {
    margin-right: 0;
}


/*следующая секция*/


.central-section {
    margin-top: 50px;
}

.navbar-left-menu, .navbar-img {
    display: inline-block;
    border: 1px solid #35444f;
    vertical-align: top;
}

.navbar-left-menu {
    margin-right: 50px;
    width: 340px;
    box-sizing: border-box;
}

.navbar-left-menu-link {
    padding: 30px 0 30px 40px;
    display: block;
    color: #485863;
}

.navbar-img {
    padding: 75px 280px;
    box-sizing: border-box;
}

/*следующая секция*/

.text {
    font-size: 18px;
    padding: 50px 140px 50px 425px;
    text-align: justify;
}


/*следующая секция*/

.footer-menu {
    display: inline-block;
    padding: 20px 0;
    font-size: 28px;
}

.navbar-footer {
    background-color: #b4b7ba;
}

.text-black {
    background-color: #b4b7ba;
    color: #333333;
}

.footer-text {
    display: inline-block;
    margin-left: 160px;
    font-size: 24px;
    text-align: right;
}

.navbar-footer-link {
    margin-left: 20px;
}


.navbar-left-menu-link:hover {
    padding-left: 70px;
    color: #000;
    background-color: #dbdbdb;
}

.navbar-footer-link:hover {
     color: #3181a6;
     border-bottom: 1px solid #3181a6;
 }

.navbar-menu-link:hover {
    background-color: #222f3a;
    border-right: 1px solid white;
    border-left: 1px solid white;
    }