.modal {
  &__drop  {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
    top: 0;
  }
  &__content {
    margin: 0 auto;
    background-color: #e74c3c;
    color: #ffffff;
    position: relative;
    width: 50%;
    text-align: center;
  }
  &__header {
    background-color: #d44637;
    padding: 25px 30px;
    text-align: left
  }
}
