$primary: white;
$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;


@mixin displayFlex($pos) {
  display: flex;
  align-items: center;

   @if($pos == center) {
     justify-content: center;
   } @else if($pos == between) {
     justify-content: space-between;
   }
}

@mixin bgp {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin display($display) {
  @if ($display == block) {
    display: block;
  } @else if($display == none) {
    display: none;
  }
}

