.cards {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  &__title {
    font-weight: bold;
    font-size: 20px;
  }
  &__img {
    //width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
  }
  &__item {
    width: 24%;
    text-align: center;
  }
  &__color {
    font-style: italic;
  }
  &__article {
    font-size: 10px;
  }
  &__price {
    font-weight: bold;
  }
}