body {
    font-family: 'Montserrat', sans-serif;

}

.container {
    width: 1160px;
    margin: 0 auto;
}

/*header */

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(1,1,1,0.3);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    height: 120px;
}

.text-logo {
    font-size: 15px;
}

.logo {
    color: #fff;
    align-items: center;
    font-size: 15px;
    padding-left: 12px;
    padding-top: 12px;
}

.logo-img {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    height: 70px;
}

.logo-text {
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 16px;
}

.text-green {
    color: #18cfab;
    font-weight: bold;
}

.navbar {
    display: flex;
    width: 644px;
    justify-content: space-between;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: #b8b8b8;

}

.border {
    color: #b8b8b8;
    padding: 55px 0;
    border-bottom: 3px solid transparent;
}

.border:hover {
    color: #18cfab;
    border-bottom: 3px solid #18cfab;
    padding: 55px 0;

}

.color-white {
    color: #b8b8b8;
}

/*следующая секция CREATIVE*/

.creative {
    background-image: url('../img/Sections_background/1.jpg');
    height: 1012px;
    background-attachment: fixed;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.creative-subtitle {
    padding-top: 366px;
    font-size: 35px;
}

.creative-title {
    font-size: 70px;
    padding: 45px 0 37px 0;
}

.creative-slogan {
    font-size: 30px;
    color: #8f8f8f;
}

.creative-button {
    margin-top: 142px;
    padding: 25px 32px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.creative-button-left {
    margin-right: 28px;
    background-color: #18cfab;
    box-shadow: 0 -4px white;
}

.creative-button-right {
    background-color: #00cbf6;
    box-shadow: 0 -4px white;
}

/*следующая секция BOXы*/

.box-square {
    display: flex;
    height: 375px;
    margin: 0 auto;
}

.box {
    background-color: #1c2a33;
    width: 25%;
    font-size: 20px;
    color: #18cfab;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.box:nth-child(even) {
    background-color: #18cfab;
    color: #ffffff;
    border-top: 7px solid white;
}

.box:nth-child(odd) {
    border-top: 7px solid #18cfab;
}

.box-image {
    padding-top: 95px;
}

.box > p {
    padding-top: 50px;
}

.box > .box-text {
    padding-top: 72px;
}

/*следующая секкия SERVICES*/

.title {
    font-size: 36px;
    text-align: center;
    padding-top: 82px;
    position: relative;
    color: rgba(78, 78, 78, 255);
}

.title:after,
.title:before {
    content: '';
    position: absolute;
    border-bottom: 1px solid #18cfab;
    width: 76px;
}

.title:after {
    top: 151px;
    left: 555px;
}
.title:before {
    top: 154px;
    left: 567px;
}

.services-navbar {
    display: flex;
    flex-flow: row wrap;
    padding-top: 112px;

}

.services-navbar-link {
    border: 1px solid #ebebeb;
    flex-grow: 1;
    padding: 28px 0;
    text-align: center;
    color: #a7a9a9;
    background-color: #f8fcfe;
    cursor: pointer;
}

.active {
    background-color: #18cfab;
    color: #ffffff;
    position: relative;
}

.active:after {
    content: '';
    width: 25px;
    height: 25px;
    background-color: #18cfab;
    position: absolute;
    transform: rotate(45deg);
    top: 56px;
    left: 45%;

}

.services-about > img {
    width: 194px;
    height: 139px;
}

.services-about {
    display: none;
    padding: 25px 0 115px 0;
}

.clicked {
    display: flex;
}



.services-text {
    text-align: justify;
    color: rgba(119, 119, 119, 255);
    margin-left: 20px;
    line-height: 1.2;
}


/*следующая секция BUY-INSTALL*/

.buy-install {
    background-image: url(../img/Sections_background/section2.jpg);
    /*height: 475px;*/
    background-size: cover;
}

.buy-install-opacity {
    background-color: rgba(1,1,1,0.7);
    text-align: center;
}

.buy-install-title {
    padding-top: 128px;
    font-size: 40px;
    text-transform: uppercase;
}

.buy-install-slogan {
    font-size: 16px;
    color: rgba(216, 216, 216, 255);
    padding-top: 35px;
}

.buy-install-button {
    margin-top: 75px;
    margin-bottom: 128px;
    padding: 25px 32px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #18cfab;
    box-shadow: 0 -4px white;
}


/* следующая секция AMAZING-WORK*/

.work {
    background-color: #f8fcfe;
    text-align: center;
}

.amazing-work {
    padding-top: 96px;
}

.work-links {
    border: 1px solid #ebebeb;
    color: #717171;
    background-color: #fff;
    text-align: center;
    padding: 25px;
    position: relative;
    cursor: pointer;
}

.actives {
    color: #18cfab;
    border-top: 1px solid #18cfab;
}



.work-links:hover:after {
    content: '';
    position: absolute;

}

.work-wrapper {
    padding-top: 100px;
    padding-bottom: 70px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.work-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-img {
    position: relative;
    display: flex;
    justify-content: center;
}

.hidden-block {
    position: absolute;
    width: 286px;
    height: 208px;
    background-color: #fff;
    display: none;
    top: 0;
    border-top: 2px solid #18cfab;
}

.work-img:hover .hidden-block {
    display: block;
}


.first {
    border: 1px solid #18cfab;
    padding: 13px;
    border-radius: 50%;
    margin: 46px 0 34px;
}

.find {
    background-color: #18cfab;
    border-radius: 50%;
    padding: 15px;
    border: 1px solid #18cfab;
    margin: 46px 0 34px;
}

.hidden-text {
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 13px;
}

.hidden-work {
    font-size: 12px;
    color: #8a8a8a;
}

.work-button {
    padding: 25px 32px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #18cfab;
    margin: 70px auto 100px auto;
}



/*следующая секция BREAKING-NEWS*/

.news {
    border-top: 1px solid rgba(113, 113, 113, 0.2);
}

.news-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 105px;
    margin-bottom: 133px;
}

.news-img {
    z-index: 0;
    height: 280px;
    background-color: #f8fcfe;
    position: relative;
    cursor: pointer;
}

.news-img:hover .news-img-link {
    color: #18cfab;
}

.news-img:hover .news-block {
    background-color: #18cfab;
}

.news-img:nth-child(n+5) {
    margin-top: 45px;
}
.news-img-link {
    font-size: 18px;
    /*margin: 14px;*/
    color: rgba(113, 113, 113, 255);
    font-weight: bold;
}

.news-img > div {
    padding: 14px 13px;
}

/*.news-img-link:hover {*/
/*    color: #18cfab;*/
/*}*/

.news-img-text {
    margin-left: 17px;
    font-size: 14px;
    color: rgba(119, 119, 119, 255);
}

.news-block {
    display: block;
    position: absolute;
    background-color: #203e38;
    color: #ffffff;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 16px;
    padding: 14px 20px;
    line-height: 1.5;
}

/*следующая секция PEOPLE SAY*/

.people {
    background-image: url(../img/Sections_background/section-3.jpg);
    height: 850px;
    background-size: cover;
}
.white-text {
    color: #ffffff;
}
.people-hasan {
    color: rgba(187, 187, 187, 255);
    font-size: 16px;
    text-align: center;
    padding-top: 178px;
    position: relative;
    line-height: 1.5;
    display: none;
}
.block {
    display: block;
}
.people-hasan:before {
    content: '';
    background-image: url(../img/blockquotes.png);
    position: absolute;
    height: 30px;
    width: 44px;
    top: 105px;
    left: 577px;
}
.people-hasan-say {
    line-height: 2;
}
.people-hasan-about {
    margin-top: 43px;
    line-height: 2;
}
.people-hasan-name {
    font-size: 16px;
    text-transform: uppercase;
}
.people-hasan-work {
    display: block;
    color: rgba(187, 187, 187, 255);
    font-size: 13px;
}
.people-hasan-img {
    /*margin-top: 37px;*/
    width: 143px;
    height: 143px;
    border: 3px solid #18cfab;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(24,207,171,0.2);
    /*margin-bottom: 220px;*/
    margin: 10px auto;
}
.slider-top {
    margin-top: 37px;
}
.slider-container {
    width: 420px;
    margin: 0 auto;
    padding: 58px 0 103px;
}
.people-hasan-mini {
    margin: 10px auto;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(24,207,171,0.2);
    width: 63px;
    height: 63px;
    align-self: center;
}
.df {
    display: flex;
    height: 100px;
}
.slick-center {
    bottom: 10px;
}
.slick-slide {
    outline: none;
}
.slick-active {
    opacity: 1 !important
}
.slick-arrow {
    width: 31px;
    height: 31px;
    border: 1px solid white;
    padding-top: 5px;
}
.slick-next::before,
.slick-prev::before {
    color: white;
    line-height: 0;
}
.slick-next::before {
    content: '>';
}
.slick-prev::before {
    content: '<';
}
.slick-arrow:hover {
    background-color: #18cfab;
}
.border-img {
    border: 1px solid #18cfab;
    align-self: flex-start;
}

.people-hasan-mini:hover {
    cursor: pointer;
}

/*FOOTER*/

footer {
    background-color: #22353f;
    padding: 47px;
    text-align: center;
    color: rgba(174, 174, 174, 255);
    font-size: 14px;
}

.work-hidden {
    display: none;
    /*visibility: hidden;*/
}





.loader {
    font-size: 50px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 60px auto;
    animation: circle 2s infinite ease;
}
@keyframes circle {
    0% {
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em #18cfab, 0 -0.83em 0 -0.42em #18cfab, 0 -0.83em 0 -0.44em #18cfab, 0 -0.83em 0 -0.46em #18cfab, 0 -0.83em 0 -0.477em #18cfab;

    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em #18cfab, 0 -0.83em 0 -0.42em #18cfab, 0 -0.83em 0 -0.44em #18cfab, 0 -0.83em 0 -0.46em #18cfab, 0 -0.83em 0 -0.477em #18cfab;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em #18cfab, -0.087em -0.825em 0 -0.42em #18cfab, -0.173em -0.812em 0 -0.44em #18cfab, -0.256em -0.789em 0 -0.46em #18cfab, -0.297em -0.775em 0 -0.477em #18cfab;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em #18cfab, -0.338em -0.758em 0 -0.42em #18cfab, -0.555em -0.617em 0 -0.44em #18cfab, -0.671em -0.488em 0 -0.46em #18cfab, -0.749em -0.34em 0 -0.477em #18cfab;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em #18cfab, -0.377em -0.74em 0 -0.42em #18cfab, -0.645em -0.522em 0 -0.44em #18cfab, -0.775em -0.297em 0 -0.46em #18cfab, -0.82em -0.09em 0 -0.477em #18cfab;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em #18cfab, 0 -0.83em 0 -0.42em #18cfab, 0 -0.83em 0 -0.44em #18cfab, 0 -0.83em 0 -0.46em #18cfab, 0 -0.83em 0 -0.477em #18cfab;
    }
}